<meta charset="UTF-8">
<title>URL Shortener</title>

<!-- Loading Bootstrap from CDN -->
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!-- Setting default style for the elements inside Body -->
<style>
  body{
    padding-top: 50px;
    font-family: 'Courier New', Courier, monospace;
  }
</style>